.displays{
  overflow: scroll;
  border: solid;
  height: 400px;
  border-radius: 10px;
}
#left {
  width: 450px;
  float: left;
  margin-left: 50px;
}
#right {
  width: 450px;
  float: right;
  margin-right: 50px;
}
#rightTab{
  float: right;
  margin-right: 55px;
}
#leftTab{
  float: left;
  margin-left: 30px;
}
.rightButton{
  padding-left: 50px;
}
.position{
  padding-left: 20px;
}
.team{
  padding-left: 20px;
}
.draft{
  margin-left: 10px;
}
.remove{
  margin-left: 10px;
}
.rows{
  padding-bottom: 10px;
}
td {
  padding-left: 10px;
}
#bottom{
  overflow: scroll;
  border: solid;
  height: 300px;
  border-radius: 10px;
}
h3{
  text-align: center;
  margin-top: -4px;
}
h1{
  text-align: center;
}
