body{
  background-image: url(../images/football_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.displays{
  overflow: scroll;
  border: solid;
  height: 400px;
  border-radius: 10px;
  background-color: #d9d9d9;
  opacity: 0.9;
}
#left {
  width: 450px;
  float: left;
  margin-left: 50px;
  background-color: #d9d9d9;
}
#right {
  width: 425px;
  float: right;
  margin-right: 50px;
}
#right table{
  width: 100%;
}
#rightTab{
  float: right;
  margin-right: 55px;
  visibility: hidden;
}
#leftTab{
  float: left;
  margin-left: 30px;
  opacity: 0.8;
  border-radius: 5px;
}
.addButton{
  padding-left: 50px;
}
.position{
  padding-left: 20px;
}
.team{
  padding-left: 20px;
}
.draft{
  margin-left: 10px;
}
.remove{
  margin-right: 5px;
}
.rows{
  padding-bottom: 10px;
  border-style: inset;
}
td {
  padding-left: 10px;
}
#bottom{
  overflow: scroll;
  border: solid;
  height: 300px;
  border-radius: 10px;
  background-color: #d9d9d9;
  opacity: 0.8;
}
h3{
  text-align: center;
  margin-top: -4px;
}
h1{
  text-align: center;
}
.leftTable{
  table-layout: fixed;
}
#import{
  float: right;
}
.leftTableKickers, .leftTableAll, .leftTableDefense, .leftTableQbs, .leftTableRbs, .leftTableTes, .leftTableWrs{
  width:100%;
}
li{
  border: outset;
  border-radius: 5px;
}
li > a:active{
  border: black;
}
.nav-tabs{
  background-color: #fff;
}
.tab-content{
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #303136  !important;
    border: medium none;
    border-radius: 5px;
    color: white;
}
